@import "../../../../App.scss";
@import "../../../../scss/mixin.scss";

.ant-collapse-header {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px;
  .ant-collapse-header-text p {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
}
.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
  padding: 0;
  padding-block: 0 !important;
}
.ant-typography {
  color: black !important;
}
